.containerContact {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ECF0F3;
}

.contact {
    height: 80%;
    width: 90%;
    background-image: url('/bggreen.png');
    background-size: cover;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 55%;
    justify-content: space-between;
}

.title {
    color: #09513A;
    font-size: 1.7em;
    font-family: 'Montserrat', sans-serif;
}

.containerData {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    width: auto;
}

.data {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.img {
    object-fit: contain;
    margin-right: 5px;
}

.textData {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    color: white;
}

.containerMedia {
    display: flex;
    flex-direction: row;
}

.link {
    margin: 7px;
}