@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, 
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1 {
  margin: 0;
}

.img-skill {
  width: 100%;
  height: 100%;
  object-fit: cover;
}